#outer {
  width: 100%;
  text-align: center;
}
.inner {
  display: inline-block;
  width: 30%;
  margin: 2px;
}
.inner:first-child {
  width: 5%;
}
input {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  display: inline-block;
  vertical-align: center;
}
input[type="button"] {
  padding: 10px 0;
  margin: 0;
  width: 40%;
}
.button {
  width: 30%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}
.button:hover,input[type="button"]:hover {
  filter: brightness(90%);
}
.button:active,input[type="button"]:active {
  filter: brightness(80%);
}

/* Hide number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

body {
  background-image: url('/abstract-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
ul {
  margin: 10px 50px;
}
a {
  display: block;
  text-decoration: none;
  color: black;
  background: whitesmoke;
  width: calc(100% - 30px);
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 1.25em;
  font-family: 'Arial';
  box-shadow: 5px 5px 10px transparent;
  transition: all .3s ease;
}
a:hover {
  box-shadow: 5px 5px 10px black;
}
a:active {
  filter: brightness(80%);
}